.anti-modal-box {
    max-width: 90%;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #7d7d7d;
}

.anti-modal-header {
    color: #ffffff;
    font-size: 1.2em;
    background: #dd5555;
}

.anti-modal-title {
    color: #ffffff;
    background: #dd5555;
}

.anti-modal-overlay .anti-modal-box {
    border: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
}