<template name="coloc">
    <div class="inner_container">
        <div class="col_1of1">
            <article class="box post">
                <div class="details">
                    <h2>Ma coloc</h2>
                    {{#if isInColoc}}
                    <p>
                        Ouais niquel t'es dans une coloc, voilà les infos de celle-ci !
                    </p>
                    {{else}}
                    <p>
                        {{#each colocs}}
                            {{ title }} - {{ description }}<br>
                        {{/each}}
                    </p>
                    {{/if}}
                </div>
            </article>
        </div>
    </div>
</template>