<template name="coloc">
    <div class="inner_container">
        <div class="col_1of1">
            <article class="box post">
                <div class="details">
                    <h2>Ma coloc</h2>
                    <p>
                        TODO :<br>- Si pas de coloc : création ou rejoindre une coloc ici<br>
                        - Si une coloc : Infos genre qui est dans la coloc + chat ?
                    </p>
                </div>
            </article>
        </div>
    </div>
</template>