<template name="leftpanel">
    <div class="grid_4">
        <section class="box widget locations">
            <div class="avatar">
                <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/boy-512.png" />
            </div>
            <div class="details">
                <h2>Prénom Nom</h2>
                <p>Nom de la colloc ici</p>
                <a href="#" class="btn btn-block btn-large logout">Déconnexion</a>
            </div>
        </section>
        <section class="box widget infos-perso">
            <header class="header">
                <div class="temp">+ 42,5 €</div>
            </header>
            <article class="box post">
            <div class="details">
                <h2>Infos perso</h2>
                <p>Num : 0694586950 <br>Je suis cool.</p>
                <h2>Compétences</h2>
                <p>Je sais faire des pates sisi et aussi cuire les boites de conserves au micro-onde.</p>
            </div>
            </article>
        </section>
    </div>
</template>