<template name="navbar">
    <nav class="box nav">
        <ul class="flipIn">
            <li>
                <a href="{{pathFor route='home'}}" class="{{ activeIfTemplateIs 'home' }}">
                    <i class="zmdi zmdi-account zmdi-hc-4x"></i>
                    <br />
                    <span class="title">Accueil</span>
                </a>
            </li>
            <li>
                <a href="{{pathFor route='coloc'}}" class="{{ activeIfTemplateIs 'coloc' }}">
                    <i class="zmdi zmdi-store zmdi-hc-4x"></i>
                    <br />
                    <span class="title">Ma coloc</span>
                </a>
            </li>
            <li>
                <a href="{{pathFor route='shop'}}" class="{{ activeIfTemplateIs 'shop' }}">
                    <i class="zmdi zmdi-shopping-cart zmdi-hc-4x"></i>
                    <br />
                    <span class="title">Courses</span>
                </a>
            </li>
            <li>
                <a href="{{pathFor route='debt'}}" class="{{ activeIfTemplateIs 'debt' }}">
                    <i class="zmdi zmdi-money-box zmdi-hc-4x"></i>
                    <br />
                    <span class="title">Dettes</span>
                </a>
            </li>
            <li>
                <a href="{{pathFor route='example'}}" class="{{ activeIfTemplateIs 'example' }}">
                    <i class="zmdi zmdi-settings zmdi-hc-4x"></i>
                    <br />
                    <span class="title">Paramètres</span>
                </a>
            </li>
        </ul>
    </nav>
</template>