<template name="shop">
    <div class="inner_container">
        <div class="col_1of1">
            <article class="box post">
                <div class="details">
                    <h2>Listes de courses</h2>
                    <p>
                        TODO :<br>- Liste de "liste de courses"<br>
                        - Modification ajouts d'items, etc...
                    </p>
                </div>
            </article>
        </div>
    </div>
</template>

<template name="listShoplists">
    Liste des listes de courses
</template>

<template name="shoplist">
    Ici la liste de courses choisie
</template>